@import "./normalize.css";
@import "./chimp.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

/* Typography */
h1 {
  line-height: 5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Montserrat Alternates;
}

p {
  margin-top: 0;
  font-size: 15px;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation Bar */

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  background-color: #18121b;
  border-radius: 0 0 10px 10px;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item > a {
  color: #fff;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #e85c41;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
}

.nav__brand {
  transform: translateY(5px);
  width: 100px;
}

@media screen and (min-width: 768px) {
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}

/* Chevron */
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 30 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

/* End Of Navigation Stuff */
h1 {
  font-family: Montserrat Subrayada;
}

/* Grids */

.grid {
  display: grid;
  place-items: center;
  gap: 2rem;
}

.grid--2 {
  display: grid;
  gap: 4rem;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Containers */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Blocks */
.block {
  padding: 6rem 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_mobile_1 {
  display: flex;
  justify-content: left;
  align-items: center;
}
.flex_mobile_2 {
  display: flex;
  justify-content: right;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .flex_mobile_1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex_mobile_2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* Hero */
.hero {
  background-color: #f69c75;
}

.hero__text {
  text-align: center;
  padding-bottom: 1.5rem;
}

/* Button */
.btn {
  width: fit-content;
  background: #ff4d00;
  border-radius: 100px;
  padding: 2rem;
  color: white;
  justify-content: center;
  cursor: pointer;
}

/* Content Area */
.wrapper__big {
  height: 35rem;
  width: 30rem;
  background: rgba(220, 220, 220, 0.28);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.wrapper__big,
.wrapper__small .grid {
  gap: 0;
  align-content: unset;
}
.doing .grid {
  width: fit-content;
}
.wrapper__image {
  width: 28rem;
  border-radius: 5px;
}

.wrapper__text {
  color: #f69c75;
  padding-right: 1rem;
}

.wrapper__header {
  color: #ff4d00;
}

.wrapper__small {
  height: 18rem;
  max-width: 32rem;
  background: rgba(220, 220, 220, 0.28);
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: left;
}

.wrapper__small__img {
  height: 16rem;
  width: 10.9rem;
  border-radius: 5px;
  margin-left: 1rem;
}

/* Showcase Header */
.showcase__header {
  padding: 4rem;
  text-align: center;
}

/* Newsletter */
.newsletter {
  max-width: 32rem;
  background-color: rgba(220, 220, 220, 0.28);
  border-radius: 10px;
}

.newsletter .text {
  padding: 1rem;
}
.p3__header_1 {
  text-align: left;
}
.p3__header_2 {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .p3__header_1 {
    text-align: center;
  }
  .p3__header_2 {
    text-align: center;
  }
}

/* Add some padding and a grey background color to containers */
.container-2 {
  padding: 20px;
}

/* Style the input elements and the submit button */
input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Add margins to the checkbox */
input[type="checkbox"] {
  margin-top: 16px;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #ff4d00;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  background-color: #e85c41;
}
