<div class="container">
  <h2 id="work" class="showcase__header">My Works.</h2>
  <div class="grid grid--1x3">
    <div class="wrapper__big">
      <div class="grid">
        <img
          class="wrapper__image"
          src="/image/site images/Site01.png"
          alt=""
        />
        <div class="wrapper__text">
          <h3>arhamjshah.tech</h3>
          <p>
            This is My site which I use <br />
            to post my notes and <br />
            newsletter.
          </p>
        </div>
      </div>
    </div>
    <div class="wrapper__big">
      <div class="grid">
        <img
          class="wrapper__image"
          src="/image/site images/site02.png"
          alt=""
        />
        <div class="wrapper__text">
          <h3>Homepage</h3>
          <p>
            This site holds link to all my <br />socials. This site was inspired
            <br />
            by Linktree.
          </p>
        </div>
      </div>
    </div>
    <div class="wrapper__big">
      <div class="grid">
        <img
          class="wrapper__image"
          src="/image/site images/site03.png"
          alt=""
        />
        <div class="wrapper__text">
          <h3>Grid site</h3>
          <p>
            This is my first portofolio-esk <br />
            site. It was inspired by<br />
            Freylabs' Site.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="grid grid--1x3">
    <div class="wrapper__big">
      <div class="grid">
        <img
          class="wrapper__image"
          src="/image/site images/site04.png"
          alt=""
        />
        <div class="wrapper__text">
          <h3>React Portofolio</h3>
          <p>
            This is My second attempt at<br />
            a portofolio site using<br />
            react.js.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
