<div class="doing">
  <h2 id="doing">Reading or Watching.</h2>
  <div class="grid">
    <div>
      <div class="wrapper__small grid">
        <img
          class="wrapper__small__img"
          src="/image/site images/poster1.jpg"
          alt=""
        />
        <div class="wrapper__text">
          <h5 class="wrapper__header">SW: Obi-Wan Kenobi</h5>
          <p>What can I say? I’m a Star Wars Fan</p>
        </div>
      </div>
    </div>
    <div>
      <div class="wrapper__small grid">
        <img
          class="wrapper__small__img"
          src="/image/site images/poster2.jpg"
          alt=""
        />
        <div class="wrapper__text">
          <h5 class="wrapper__header">The Stand</h5>
          <p>I just wanted to read this.</p>
        </div>
      </div>
    </div>
    <div>
      <div class="wrapper__small grid">
        <img
          class="wrapper__small__img"
          src="/image/site images/poster3.jpg"
          alt=""
        />
        <div class="wrapper__text">
          <h5 class="wrapper__header">India’s Struggle For Freedom</h5>
          <p>
            I wanted to know some history so I’m reading this. Notes for this
            can be found in my blog.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
